@import '/fonts.sass'

$font-family_main: 'Raleway', sans-serif
$font-family_second: 'Heebo', sans-serif

$color-main       : #002140
$color-main-light : #005fb8

.ant-layout
    background: inherit

.ant-layout-footer
    padding: 13.5px 50px

body
    font-family: $font-family_main
    background: #fdfdfd

.sider-menu-font
    letter-spacing: 0.05em

.header-logo
    color: white
    margin: 10px
    padding: 5px 0 
    background: $color-main

.text-logo
    letter-spacing: 0.155em
    font-size: 16px
    font-size: 1.1rem
    white-space: nowrap

.no-decorate-link
    color: inherit

    &:hover
        color: inherit
